<div class="container">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Les Articles en QR Code</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="searchId" placeholder="Rechercher par ID d'article" (input)="applyFilter()">
        </mat-form-field>
  
         <table mat-table class="mat-elevation-z8" [dataSource]="filteredArticles">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let article"> {{ article.id }} </td>
        </ng-container>
  
        <ng-container matColumnDef="qrCodeUrl">
          <th mat-header-cell *matHeaderCellDef> Code QR </th>
          <td mat-cell *matCellDef="let article">
            <ng-container *ngIf="article.qrCodeUrl">
              <img [src]="article.qrCodeUrl" alt="Code QR">
            </ng-container>
            <ng-container *ngIf="!article.qrCodeUrl">
              Code QR non disponible
            </ng-container>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="['id', 'qrCodeUrl']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['id', 'qrCodeUrl'];"></tr>
      </table>
    </mat-card-content>
</mat-card>
</div>