<div class="container">
  <h1>Ajouter article</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="id">ID:</label>
      <input type="number" id="id" [(ngModel)]="nouvelleEntree.id" name="id" class="form-control">
    </div>
    <div class="form-group">
      <label for="nom">Nom:</label>
      <input type="text" id="nom" [(ngModel)]="nouvelleEntree.nom" name="nom" class="form-control">
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" [(ngModel)]="nouvelleEntree.description" name="description" class="form-control">

      </textarea>
    </div>

    <div class="form-group">
      <label for="quantite">quantite</label>
      <input type="quantite" id="quantite" [(ngModel)]="nouvelleEntree.quantite" name="quantite" class="form-control">
    </div>
    
    <div class="form-group">
      <label for="prix">Prix:</label>
      <input type="text" id="prix" [(ngModel)]="nouvelleEntree.prix" name="prix" class="form-control">
    </div>
    <div class="form-group">
      <label for="categorie">Catégorie:</label>
      <input type="text" id="categorie" [(ngModel)]="nouvelleEntree.categorie" name="categorie" class="form-control">
    </div>
    <br>
    <div class="row"> <div class="col-9"></div>
    <div class="col-3"><button type="submit" class="btn btn-primary">Ajouter</button></div> 
   </div>      
  <br>      </form>

 
      
</div>