<div class="container my-container"> 
<div class="card d-flex justify-content-center"></div>
<div class="card-body">
    <div class="mb-3">
    <input type="email" class="form-control" placeholder="E-mail">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control"  placeholder="Mot de passe">
  </div>
  <div class="mb-3">   
     <button type="button" routerLink="/inscrire" class="btn btn-link">S'inscrire</button> 

    <button type="button" routerLink="/" class="btn btn-primary">Se connecter</button>
  </div>
</div>
  </div>