<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm rounded overflow-hidden">
                <div class="card-body p-0">
                    <h1 class="text-center text-primary py-4">Inscrivez-vous !</h1>
                    <form class="register-form px-4 pb-4" method="get" action="login.html">
                        <div class="form-group">
                            <!-- <label for="name">Nom et prénom :</label> -->
                            <div class="input-group">
                                <span class="input-group-text"><i class="material-icons">perm_identity</i></span>
                                <input type="text" class="form-control" name="name" id="name"
                                    placeholder="Entrer le nom et le prénom">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <!-- <label for="email">Email :</label> -->
                            <div class="input-group">
                                <span class="input-group-text"><i class="material-icons">email</i></span>
                                <input type="text" class="form-control" name="email" id="email"
                                    placeholder="Entrer l'Email">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <!-- <label for="ville">Ville :</label> -->
                            <div class="input-group">
                                <span class="input-group-text"><i class="material-icons">commute</i></span>
                                <input type="text" class="form-control" name="ville" id="ville"
                                    placeholder="Entrer le ville">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <!-- <label for="username">Adresse :</label> -->
                            <div class="input-group">
                                <span class="input-group-text"><i class="material-icons">room</i></span>
                                <input type="text" class="form-control" name="username" id="username"
                                    placeholder="Entrer l'Adresse">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <!-- <label for="code">Code postal :</label> -->
                            <div class="input-group">
                                <span class="input-group-text"><i class="material-icons">code</i></span>
                                <input type="text" class="form-control" name="code" id="code"
                                    placeholder="Entrer le code postal">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <!-- <label for="password">Mot de passe :</label> -->
                            <div class="input-group">
                                <span class="input-group-text"><i class="material-icons">lock_open</i></span>
                                <input type="password" class="form-control" name="password" id="password"
                                    placeholder="Enter le mot de passe">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <!-- <label for="confirm">Confirmer le mot de passe :</label> -->
                            <div class="input-group">
                                <span class="input-group-text"><i class="material-icons">lock</i></span>
                                <input type="password" class="form-control input_pass" name="confirm" id="confirm"
                                    placeholder="Confirmer le mot de passe">
                            </div>
                        </div>
                        <br>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="terms">
                            <label class="form-check-label" for="terms">J'accepte les termes et conditions</label>
                        </div>
                        <br>

                        <button type="submit" class="btn btn-primary btn-block" routerLink="/">S'inscrire</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>