

<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
   <app-sidebar></app-sidebar>
   <div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <!-- Header -->
    <app-header></app-header>
    <!-- Main -->

     <p>   ---->   ICI  la CRUD des depots  !  </p>

     <div class="container">
       <h1>Ajouter un dépôt</h1>
       <form class="needs-validation" novalidate>
         <div class="row">
           <div class="col-md-6">
             <div class="form-group">
               <label for="code">Code :</label>
               <input type="text" class="form-control" id="code" placeholder="Entrez le code du dépôt" required>
               <div class="invalid-feedback">
                 Veuillez entrer le code du dépôt.
               </div>
             </div>
             <div class="form-group">
               <label for="nom">Nom :</label>
               <input type="text" class="form-control" id="nom" placeholder="Entrez le nom du dépôt" required>
               <div class="invalid-feedback">
                 Veuillez entrer le nom du dépôt.
               </div>
             </div>
             <div class="form-group">
               <label for="adresse">Adresse :</label>
               <textarea class="form-control" id="adresse" placeholder="Entrez l'adresse du dépôt" required></textarea>
               <div class="invalid-feedback">
                 Veuillez entrer l'adresse du dépôt.
               </div>
             </div>
           </div>
           <div class="col-md-6">
             <div class="form-group">
               <label for="produits">Produits :</label>
               <select multiple class="form-control" id="produits">
                 <option>Produit 1</option>
                 <option>Produit 2</option>
                 <option>Produit 3</option>
                 <option>Produit 4</option>
                 <option>Produit 5</option>
                 <option>Produit 6</option>
               </select>
             </div>
           </div>
         </div>
         <button type="submit" class="btn btn-primary">Ajouter</button>
       </form>
     </div>


   </div>


</div>
